<!DOCTYPE html>
<html>
<head>
<title>Title of the About</title>
{{>styles}}
</head>

<body>
<!-- Header Path Start -->
{{>header}}
<!-- Header Path End -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">

        {{bodyPart}}

    </div>

    <!-- Footer -->
    {{>footer}}
</div>
</body>

{{>scripts}}

</html>